* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(220, 220, 250);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

/* Prevents bluriness when rescaling an image */
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#navbar {
    display: flex;
    margin: 1%;
    padding: 0.5%;
    justify-content: start;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid black;
    border-radius: 2em;
    background-color: rgba(161, 241, 252, 0.4);
}

#navbar #logo {
    transition: ease-in-out .5s;
}

#navbar #logo:hover {
    cursor: pointer;
}

#navbar img {
    width: 100px;
    height: 100px;
}

#navbar .nav-selections {
    color: black;
    /* margin-left: 15%;
    margin-right: 15%; */
    font-size: 35px;
    transition: ease-in-out .15s;
}

a {
    text-decoration: none;
}

#navbar a:hover {
    color: white;
}

#games-container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    margin: auto;
}

.game {
    margin: 5%;
    padding: 5%;
    min-width: 33%;
    border: 3px solid black;
    border-radius: 1em;
    transition: ease-in-out .25s;
}

.game .game-icon {
    width: 64px;
    height: 64px;
}

.game .game-name {
    font-size: 25px;
}

.game:hover {
    background-color: rgb(185, 185, 255);
}

#error-button {
    color: rgb(220, 0, 0);
}

#error-button:hover {
    cursor: pointer;
    background-color: rgba(220, 0, 0, 0.5);
}

.news-container {
    width: 80%;
    margin: auto;
    padding: 2%;
    border: 3px solid black;
    border-radius: 1em;
}

.news-container ul {
    list-style: none
}

.news-container a:hover {
    transition: .25s;
    color: rgba(255, 255, 255, 0.9);
}