body{
    background-color: rgb(255, 236, 206);
    text-align: center;
}

button {
    width: 200px;
    height: 200px;
    font-size: 25px;
    border-radius: 20px; 
    color: black;
    background-color: rgb(225, 225, 225);
}

img {
    width: 180px;
    height: 180px;
}

button:hover {
    transition: .5s;
    background-color: rgb(180, 180, 180);
}