html {
    background-color: rgb(220, 220, 250);
}

input[type="range"] {
    width: 425px;
}

canvas {
    cursor: pointer;
}

button {
    cursor: pointer;
    margin-bottom: 0.25%;
}

.title {
    font-family: Arial;
    font-size: 30px;
}

.text {
    font-family: Arial;
    font-size: 20px;
}

button {
    width: 500px;
}