* {
    margin: 0;
    padding: 0;
    user-select: none
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 220, 250);
    height: 1000px;
}

img {
    /* Prevents bluriness when rescaling an image */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    /* Prevents dragging ghost images */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.title {
    text-align: center;
    margin: 0.5%;
    margin-bottom: 2%;
}

#game {
    display: grid;
    /* border: 3px solid black; */
    width: 50%;
    height: 500px;
    margin: auto;
}

#menu-items {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

#menu-items .menu-item:hover {
    cursor: pointer;
    opacity: 70%;
}

#menu-items img {
    width: 15%;
}

#clicker-section {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#clicker-section #burger-button {
    cursor: pointer;
    width: 20%;
    transition: 0.05s;
}

#clicker-section #burger-button:active {
     width: 22%;
}

#clicker-section #burger-amount {
    border: 1px solid black;
    border-radius: 1em;
    min-width: 20%;
    font-size: 30px;
    text-align: center;
}