* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
    user-select: none;
}

#contents {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 9fr;
}

#settings {
    display: flex;
    flex-direction: column;
    padding: 5%;
    border: 1px black solid;
    background-color: rgb(152, 236, 244);
}

#settings #run-button {
    justify-self: flex-start;
}

#settings button {
    background-color: white;
    border-radius: 1em;
    margin-bottom: 5%;
}

#settings button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

#settings input[type="range"] {
    width: 90%;
}

li {
    margin-bottom: 5px;
}